* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #255885;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-one {
  background-color: #ffffff;
  width: 30%; /* Ajuste o valor da largura em relação ao contêiner pai */
  height: 60%; /* Ajuste o valor da altura em relação ao contêiner pai */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-logo {
  margin-bottom: 3%;
}

.logo-image {
  width: 70%;
  height: 10%;  
}

.form-control {
  margin-bottom: 2%;
}

.form-control label {
  display: block;
  font-family: Arial;
  font-size: 24px;
}

.form-control input[type="email"],
.form-control input[type="text"],
.form-control input[type="password"]{
  width: 90%;
  height: 35px;
  padding: 1%;
  border-radius: 5%;
  border: 1px solid #ccc; 
  background-color: #DEE3E7; 
}

button[type="submit"] {
  padding: 10px 60px;
  margin-left: 20px;
  background-color: #255885;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial"; 
  font-size: 24px;
}


.input-box {
  margin-top: 10px;
  font-family: Arial; 
  font-size:20px;    
}

.input-box a {
 color: #255885;
}