body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url("img/injection-1974677_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #07a3ce;
    height: 10vh;
}

/*.box está referenciando a box criada em style_alarme.php que possui todos os elementos abaixo de nav dentro dela que esta dentro de um container */
.box {
    width: 100px;
    /*largura maxima da tela na parte onde esta os inputs e botões*/
    height: 100px;
    /*altura maxima da tela na parte onde esta os inputs e botões*/
}

.box-one {
    background-color: rgba(255, 255, 255, .7);
    /*rgba para controlar a cor e a opacidade ao mesmo tempo*/
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;

}

input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

button[type="submit"] {
    background-color: #4aa4ee;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

}

/* Botão "Voltar" */
button[type="submit"].voltar {
    background-color: #f44;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

button[type="submit"]:hover {
    background-color: #0062cc;
}

/* O .voltar e pra afetar so o botão voltar*/
button[type="submit"].voltar:hover {
    background-color: #24434e;
}

/* Define um estilo para os botões */
button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}