.editar_dep {
  color: #000000;
  /* Defina a cor desejada para os links */
}

.box-one {
  margin-top: -56%;
  margin-left: 50%;  
  display: flex;
  justify-content: flex;
  align-items: center;
}

#botao_superior {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #255885;
  padding: 8px 23.3px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

#botao_inferior {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #255885;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

#botao_superior:hover,
#botao_inferior:hover {
  background-color: #0062cc;
}

/* Define um estilo para os botões */
.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20%;
  margin-right: 30%;
}

.actions button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button img {
  width: 40px;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
}

/* Estilos personalizados */
.dependentes {
  display: flex;
  flex-wrap: wrap;
   
}

.dependente {
  display: inline-block;
  text-align: center;
  margin: 10px; 
  justify-content: center;
  line-height: 15px;
  padding: 30px;  
}

.dependente img {
  width: 105%;  
  height: auto;
  margin-bottom: 10px;
}

.dependente span {
  font-weight: bold;
  font-size: 17px;
}

.dependente a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #255885;
}