.meu-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #255885;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }
  
.conteudo-botao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.conteudo-botao img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
.conteudo-botao span {
    font-weight: bold;
    font-size: small;
  }

.meu-botao:hover {
  background-color: #03738C;
}
  
.retangulo {
    width: 1200px;
    height: auto;
    background-color: #DEE3E7;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5px;
    overflow: hidden;
  }
 
.conteudo-retangulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
  
.conteudo-retangulo img {
    width: 50px;
    height: 50px;
    margin-right: 1%;
    margin-left: 2%;
    margin-top: 0%;
    
  }
  
#horario {
    margin-top: 0%;
    font-size: xx-large;
    font-family: arial;
    color: #03738C;
    font-weight: bold;
  }
  
.nome_medicamento {
    margin-left: 10%;
    margin-top: -3%;
    margin-bottom: 1%;
    font-size: large;
    font-family: arial;
    align-items: center;
    font-weight: bold;
    color: #000000;
  }

.dosagem-concentracao {
    display: flex;
    align-items: center;
    margin-top: 4%;
  }

#cubo {
    width: 30px;
    height: 40px;
    margin-right: 11px;
    margin-left: -35%;
    margin-top: 2%;
  }

.dosagem {
  margin-right: 20px;
  margin-left: -1%;
  margin-top: 2%;
  font-family: arial;
  color: #000000;
  }

#bucket {
    width: 25px;
    height: 30px;
    margin-right: 10px;
    margin-left: 2%;
    margin-top: 2%;
  }

.concentracao {
    margin-right: 20px;
    margin-left: -1%;
    margin-top: 2%;
    font-family: arial;
    color: #000000;
  }
  
#lista {
    margin-right: 10px;
    margin-left: 38%;
    margin-top: 1%;
    font-family: Arial;
    font-size: smaller;
    cursor: pointer;
  }

#lista a {
  color: #7a7a7a;
}

#lista a:hover {
  color: black;
}
   
.meu-botao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #255885;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-left: 82%;
    cursor: pointer;
  }
  
.conteudo-botao2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.conteudo-botao2 img {
    width: 40px;
    height: 30px;
    margin-right: 10px;
    margin-top: 4px;
  }
  
.conteudo-botao2 span {
    font-weight: bold;
    font-size: small;  
  }

.meu-botao2:hover {
    background-color: #03738C;
  }



#footer {
    background-color: #F2F2F2;
    grid-area: footer;
  
  }